// these are the HDMI pins!
IO_LOC "led[0]" 27;
IO_LOC "led[1]" 28;
IO_LOC "led[2]" 29;
IO_LOC "led[3]" 30;
IO_LOC "led[4]" 31;
IO_LOC "led[5]" 32;
IO_LOC "key" 15;
IO_LOC "rst" 14;
IO_LOC "clk" 45;

CLOCK_LOC "led[0]" BUFS;
CLOCK_LOC "led[1]" BUFS;
CLOCK_LOC "led[2]" BUFS;
CLOCK_LOC "led[3]" BUFS;
CLOCK_LOC "led[4]" BUFS;
CLOCK_LOC "led[5]" BUFS;

// true LVDS pins
IO_LOC "tlvds_p" 35,34;
