// these are the HDMI pins!
IO_LOC "q_o[0]" 28;
IO_LOC "q_o[1]" 18;
IO_LOC "q_o[2]" 20;
IO_LOC "q_o[3]" 22;
IO_LOC "q_o[4]" 35;
IO_LOC "q_o[5]" 17;
IO_LOC "q_o[6]" 1;
IO_LOC "q_o[7]" 19;

IO_LOC "pclk_o" 44;
IO_LOC "fclk_o" 46;

IO_LOC "key_i" 15;
IO_LOC "nrst_i" 14;
IO_LOC "clk_i" 45;


