//File Title: Physical Constraints file
//Part Number: GW1NR-LV9LQ144PC6/I5

IO_LOC "clk_i" 98;

IO_LOC "nrst_i" 27;	// key0
IO_LOC "key" 28;

IO_LOC "q_o[0]" 112;
IO_LOC "q_o[1]" 113;
IO_LOC "q_o[2]" 114;
IO_LOC "q_o[3]" 115;
IO_LOC "q_o[4]" 116;
IO_LOC "q_o[5]" 117;
IO_LOC "q_o[6]" 118;
IO_LOC "q_o[7]" 119;

// pclk_o - low frequency, fclk_o - high frequency
IO_LOC "pclk_o" 111;
IO_LOC "fclk_o" 110;

//IO_LOC "uart_rxd" 99;
//IO_LOC "uart_txd" 100;
//IO_LOC "led[0]" 29;
//IO_LOC "led[1]" 30;
//IO_LOC "led[2]" 32;
//IO_LOC "led[3]" 34;

