// these are the HDMI pins!
IO_LOC "q_o[0]" 28;
IO_LOC "q_o[1]" 27;
IO_LOC "q_o[2]" 30;
IO_LOC "q_o[3]" 29;
IO_LOC "q_o[4]" 23;
IO_LOC "q_o[5]" 22;
IO_LOC "q_o[6]" 21;
IO_LOC "q_o[7]" 20;

IO_LOC "pclk_o" 44;
IO_LOC "fclk_o" 46;

IO_LOC "key_i" 15;
IO_LOC "nrst_i" 14;
IO_LOC "clk_i" 45;


