*.txt
*.c
/*.png
*.fs
*.gif
*.json
*.cpp
*.o
*.il
*.dot
*.log
*.pdf
impl
env
*.pickle
*.msgpack.gz
__pycache__
generic/blinky.fasm
generic/blinky.png
generic/blinky.posp
generic/blinky.vm
.vscode
gowin_pack_cpp/build/
