//Part Number: GW1N-LV1QN48C6/I5

IO_LOC "clk" 35; // inline comment
IO_LOC "led[0]" 16;
IO_PORT "led[0]" IO_TYPE=LVCMOS18;
IO_PORT "led[0]" PULL_MODE=UP;
IO_PORT "led[0]" SLEW_RATE=FAST;
IO_PORT "led[0]" DRIVE=8;
IO_LOC "led[1]" 17;
IO_PORT "led[1]" IO_TYPE=LVCMOS18;
IO_PORT "led[1]" PULL_MODE=UP;
IO_PORT "led[1]" SLEW_RATE=FAST;
IO_PORT "led[1]" DRIVE=8;
IO_LOC "led[2]" 18;
IO_PORT "led[2]" IO_TYPE=LVCMOS18;
IO_PORT "led[2]" PULL_MODE=UP;
IO_PORT "led[2]" SLEW_RATE=FAST;
IO_PORT "led[2]" DRIVE=8;

IO_LOC "key" 15;
IO_PORT "key" IO_TYPE=LVCMOS18;
IO_PORT "key" HYSTERESIS=NONE;
IO_PORT "key" PULL_MODE=UP;

IO_LOC "rst" 14;
IO_PORT "rst" IO_TYPE=LVCMOS18;
IO_PORT "rst" HYSTERESIS=NONE;
IO_PORT "rst" PULL_MODE=UP;

IO_LOC "LCD_B[0]" 41;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_B[0]" PULL_MODE=UP;
IO_PORT "LCD_B[0]" SLEW_RATE=FAST;
IO_PORT "LCD_B[0]" DRIVE=8;
IO_LOC "LCD_B[1]" 42;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_B[1]" PULL_MODE=UP;
IO_PORT "LCD_B[1]" SLEW_RATE=FAST;
IO_PORT "LCD_B[1]" DRIVE=8;
IO_LOC "LCD_B[2]" 43;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_B[2]" PULL_MODE=UP;
IO_PORT "LCD_B[2]" SLEW_RATE=FAST;
IO_PORT "LCD_B[2]" DRIVE=8;
IO_LOC "LCD_B[3]" 44;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_B[3]" PULL_MODE=UP;
IO_PORT "LCD_B[3]" SLEW_RATE=FAST;
IO_PORT "LCD_B[3]" DRIVE=8;
IO_LOC "LCD_B[4]" 45;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_B[4]" PULL_MODE=UP;
IO_PORT "LCD_B[4]" SLEW_RATE=FAST;
IO_PORT "LCD_B[4]" DRIVE=8;
IO_LOC "LCD_CLK" 11;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS18;
IO_PORT "LCD_CLK" PULL_MODE=UP;
IO_PORT "LCD_CLK" SLEW_RATE=FAST;
IO_PORT "LCD_CLK" DRIVE=8;
IO_LOC "LCD_DEN" 5;
IO_PORT "LCD_DEN" IO_TYPE=LVCMOS18;
IO_PORT "LCD_DEN" PULL_MODE=UP;
IO_PORT "LCD_DEN" SLEW_RATE=FAST;
IO_PORT "LCD_DEN" DRIVE=8;
IO_LOC "LCD_G[0]" 32;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_G[0]" PULL_MODE=UP;
IO_PORT "LCD_G[0]" SLEW_RATE=FAST;
IO_PORT "LCD_G[0]" DRIVE=8;
IO_LOC "LCD_G[1]" 33;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_G[1]" PULL_MODE=UP;
IO_PORT "LCD_G[1]" SLEW_RATE=FAST;
IO_PORT "LCD_G[1]" DRIVE=8;
IO_LOC "LCD_G[2]" 34;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_G[2]" PULL_MODE=UP;
IO_PORT "LCD_G[2]" SLEW_RATE=FAST;
IO_PORT "LCD_G[2]" DRIVE=8;
IO_LOC "LCD_G[3]" 38;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_G[3]" PULL_MODE=UP;
IO_PORT "LCD_G[3]" SLEW_RATE=FAST;
IO_PORT "LCD_G[3]" DRIVE=8;
IO_LOC "LCD_G[4]" 39;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_G[4]" PULL_MODE=UP;
IO_PORT "LCD_G[4]" SLEW_RATE=FAST;
IO_PORT "LCD_G[4]" DRIVE=8;
IO_LOC "LCD_G[5]" 40;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_G[5]" PULL_MODE=UP;
IO_PORT "LCD_G[5]" SLEW_RATE=FAST;
IO_PORT "LCD_G[5]" DRIVE=8;
IO_LOC "LCD_HYNC" 10;
IO_PORT "LCD_HYNC" IO_TYPE=LVCMOS18;
IO_PORT "LCD_HYNC" PULL_MODE=UP;
IO_PORT "LCD_HYNC" SLEW_RATE=FAST;
IO_PORT "LCD_HYNC" DRIVE=8;
IO_LOC "LCD_R[0]" 27;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_R[0]" PULL_MODE=UP;
IO_PORT "LCD_R[0]" SLEW_RATE=FAST;
IO_PORT "LCD_R[0]" DRIVE=8;
IO_LOC "LCD_R[1]" 28;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_R[1]" PULL_MODE=UP;
IO_PORT "LCD_R[1]" SLEW_RATE=FAST;
IO_PORT "LCD_R[1]" DRIVE=8;
IO_LOC "LCD_R[2]" 29;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_R[2]" PULL_MODE=UP;
IO_PORT "LCD_R[2]" SLEW_RATE=FAST;
IO_PORT "LCD_R[2]" DRIVE=8;
IO_LOC "LCD_R[3]" 30;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_R[3]" PULL_MODE=UP;
IO_PORT "LCD_R[3]" SLEW_RATE=FAST;
IO_PORT "LCD_R[3]" DRIVE=8;
IO_LOC "LCD_R[4]" 31;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS18;
IO_PORT "LCD_R[4]" PULL_MODE=UP;
IO_PORT "LCD_R[4]" SLEW_RATE=FAST;
IO_PORT "LCD_R[4]" DRIVE=8;
IO_LOC "LCD_SYNC" 46;
IO_PORT "LCD_SYNC" IO_TYPE=LVCMOS18;
IO_PORT "LCD_SYNC" PULL_MODE=UP;
IO_PORT "LCD_SYNC" SLEW_RATE=FAST;
IO_PORT "LCD_SYNC" DRIVE=8;
