IO_LOC  "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "clk_i" 4;
IO_PORT "clk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "rst_i" 58;
IO_PORT "rst_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "key_i" 59;
IO_PORT "key_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "led[0]" 25;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "led[1]" 26;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "led[2]" 23;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "led[3]" 24;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "led[4]" 27;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "led[5]" 28;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "led[6]" 29;
IO_PORT "led[6]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "led[7]" 30;
IO_PORT "led[7]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "TXD" 39;
IO_PORT "TXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "RXD" 40;
IO_PORT "RXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "tlvds_p" 27;
IO_PORT "tlvds_p" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC  "tlvds_n" 28;
IO_PORT "tlvds_n" IO_TYPE=LVDS25 PULL_MODE=NONE;

IO_LOC  "elvds_p" 40;
IO_PORT "elvds_p" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC  "elvds_n" 41;
IO_PORT "elvds_n" IO_TYPE=LVDS25 PULL_MODE=NONE;

IO_LOC  "LED_R" 25;
IO_PORT "LED_R" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "LED_G" 26;
IO_PORT "LED_G" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "LED_B" 23;
IO_PORT "LED_B" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "LCD_SYNC" 29;
IO_PORT "LCD_SYNC" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "LCD_CLK" 44;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// oser
IO_LOC  "oser_out" 25;
IO_PORT "oser_out" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "io16"     25;
IO_PORT "io16"     IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "pclk_o"   28;
IO_PORT "pclk_o"   IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "fclk_o"   29;
IO_PORT "fclk_o"   IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// ides
IO_LOC  "fclk_i" 54;
IO_PORT "fclk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "data_i" 30;
IO_PORT "data_i" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "q_o[0]" 38;
IO_PORT "q_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "q_o[1]" 39;
IO_PORT "q_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "q_o[2]" 40;
IO_PORT "q_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "q_o[3]" 27;
IO_PORT "q_o[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "q_o[4]" 23;
IO_PORT "q_o[4]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "q_o[5]" 43;
IO_PORT "q_o[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "q_o[6]" 42;
IO_PORT "q_o[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "q_o[7]" 41;
IO_PORT "q_o[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "PLL_0_CLKOUT"  38;
IO_PORT "PLL_0_CLKOUT"  IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "PLL_0_CLKOUTD" 39;
IO_PORT "PLL_0_CLKOUTD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "PLL_0_LOCK"    40;
IO_PORT "PLL_0_LOCK"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "PLL_1_CLKOUT"  41;
IO_PORT "PLL_1_CLKOUT"  IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "PLL_1_CLKOUTD" 42;
IO_PORT "PLL_1_CLKOUTD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "PLL_1_LOCK"    43;
IO_PORT "PLL_1_LOCK"    IO_TYPE=LVCMOS33 PULL_MODE=UP;

