//Part Number: GW1N-LV1QN48C6/I5

IO_LOC "clk" 35;
IO_LOC "led[0]" 16;
IO_LOC "led[1]" 17;
IO_LOC "led[2]" 18;
IO_LOC "key" 15;
IO_LOC "rst" 14;

IO_LOC "LCD_B[0]" 41;
IO_LOC "LCD_B[1]" 42;
IO_LOC "LCD_B[2]" 43;
IO_LOC "LCD_B[3]" 44;
IO_LOC "LCD_B[4]" 45;
IO_LOC "LCD_CLK" 11;
IO_LOC "LCD_DEN" 5;
IO_LOC "LCD_G[0]" 32;
IO_LOC "LCD_G[1]" 33;
IO_LOC "LCD_G[2]" 34;
IO_LOC "LCD_G[3]" 38;
IO_LOC "LCD_G[4]" 39;
IO_LOC "LCD_G[5]" 40;
IO_LOC "LCD_HYNC" 10;
IO_LOC "LCD_R[0]" 27;
IO_LOC "LCD_R[1]" 28;
IO_LOC "LCD_R[2]" 29;
IO_LOC "LCD_R[3]" 30;
IO_LOC "LCD_R[4]" 31;
IO_LOC "LCD_SYNC" 46;
