IO_LOC  "led[0]" 9;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "led[1]" 10;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "led[2]" 11;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;


IO_LOC  "rst_i" 44;
IO_PORT "rst_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "key_i" 13;
IO_PORT "key_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "clk" 47;
IO_PORT "clk" IO_TYPE=LVCMOS33;

IO_LOC  "elvds_p" 40;
IO_PORT "elvds_p" IO_TYPE=LVDS25;
IO_LOC  "elvds_n" 39;
IO_PORT "elvds_n" IO_TYPE=LVDS25;

IO_LOC  "led[3]" 24;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "led[4]" 23;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "led[5]" 22;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC  "LED_R" 9;
IO_PORT "LED_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LED_G" 11;
IO_PORT "LED_G" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LED_B" 10;
IO_PORT "LED_B" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// oser
IO_LOC  "oser_out" 11;
IO_PORT "oser_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "pclk_o" 9;
IO_PORT "pclk_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "fclk_o" 10;
IO_PORT "fclk_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// ides
IO_LOC  "fclk_i" 41;
IO_PORT "fclk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "data_i" 40;
IO_PORT "data_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "q_o[0]" 38;
IO_PORT "q_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "q_o[1]" 16;
IO_PORT "q_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "q_o[2]" 23;
IO_PORT "q_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "q_o[3]" 22;
IO_PORT "q_o[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "q_o[4]" 20;
IO_PORT "q_o[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "q_o[5]" 34;
IO_PORT "q_o[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "q_o[6]" 35;
IO_PORT "q_o[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "q_o[7]" 24;
IO_PORT "q_o[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// RGB LCD
IO_LOC  "LCD_B[4]" 24;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_B[3]" 23;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_B[2]" 22;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_B[1]" 20;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_B[0]" 19;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_G[5]" 18;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_G[4]" 17;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_G[3]" 16;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_G[2]" 15;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_G[1]" 27;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_G[0]" 28;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_R[4]" 29;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_R[3]" 30;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_R[2]" 31;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_R[1]" 34;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_R[0]" 35;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_DEN" 21;
IO_PORT "LCD_DEN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_SYNC" 32;
IO_PORT "LCD_SYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_HYNC" 33;
IO_PORT "LCD_HYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LCD_CLK" 8;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

