/ these are the HDMI pins!
IO_LOC  "led[0]" 39;
IO_PORT "led[0]" IO_TYPE=LVCMOS33;
IO_LOC  "led[1]" 40;
IO_PORT "led[1]" IO_TYPE=LVCMOS33;
IO_LOC  "led[2]" 41;
IO_PORT "led[2]" IO_TYPE=LVCMOS33;
IO_LOC  "led[3]" 30;
IO_PORT "led[3]" IO_TYPE=LVCMOS25;
IO_LOC  "led[4]" 31;
IO_PORT "led[4]" IO_TYPE=LVCMOS25;
IO_LOC  "led[5]" 32;
IO_PORT "led[5]" IO_TYPE=LVCMOS25;
IO_LOC  "key_i" 15;
IO_PORT "key_i" PULL_MODE=UP IO_TYPE=LVCMOS18;
IO_LOC  "rst_i" 14;
IO_PORT "rst_i" PULL_MODE=UP IO_TYPE=LVCMOS18;

IO_LOC  "mode_led" 10;
IO_PORT "mode_led" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC    "clk" 45;
IO_PORT   "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
CLOCK_LOC "clk" BUFG;

IO_LOC    "clk_i" 45;
IO_PORT   "clk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
CLOCK_LOC "clk_i" BUFG;


// UART
IO_LOC "TXD" 44;
IO_PORT "TXD" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "RXD" 46;
IO_PORT "RXD" PULL_MODE=UP IO_TYPE=LVCMOS33;

// I3C
IO_LOC  "i3c" 27;
IO_PORT "i3c" PULL_MODE=UP IO_TYPE=LVCMOS25;

// gpio
IO_LOC  "gpio[0]" 47;
IO_PORT "gpio[0]" IO_TYPE=LVCMOS33;
IO_LOC  "gpio[1]" 48;
IO_PORT "gpio[1]" IO_TYPE=LVCMOS33;

// SPI
IO_LOC  "spi_OUT" 42;
IO_PORT "spi_OUT" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "spi_SCL" 43;
IO_PORT "spi_SCL" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// oser
IO_LOC  "oser_out" 35;
IO_PORT "oser_out" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC  "io16" 35;
IO_PORT "io16" IO_TYPE=LVCMOS25;
IO_LOC  "pclk_o" 29;
IO_PORT "pclk_o" IO_TYPE=LVCMOS25;
IO_LOC  "fclk_o" 30;
IO_PORT "fclk_o" IO_TYPE=LVCMOS25;

IO_LOC  "LED_R" 34;
IO_PORT "LED_R" IO_TYPE=LVCMOS25;
IO_LOC  "LED_G" 35;
IO_PORT "LED_G" IO_TYPE=LVCMOS25;
IO_LOC  "LED_B" 29;
IO_PORT "LED_B" IO_TYPE=LVCMOS25;

IO_LOC  "LCD_CLK" 47;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS33;
IO_LOC  "LCD_SYNC" 48;
IO_PORT "LCD_SYNC" IO_TYPE=LVCMOS33;

// ides
IO_LOC  "data_i" 43;
IO_PORT "data_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "fclk_i" 46;
IO_PORT "fclk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "q_o[0]" 21;
IO_PORT "q_o[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP;
IO_LOC  "q_o[1]" 27;
IO_PORT "q_o[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC  "q_o[2]" 41;
IO_PORT "q_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "q_o[3]" 31;
IO_PORT "q_o[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC  "q_o[4]" 40;
IO_PORT "q_o[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "q_o[5]" 39;
IO_PORT "q_o[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "q_o[6]" 28;
IO_PORT "q_o[6]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC  "q_o[7]" 30;
IO_PORT "q_o[7]" IO_TYPE=LVCMOS25 PULL_MODE=UP;

// true LVDS pins
IO_LOC  "tlvds_p" 28;
IO_PORT "tlvds_p" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;
IO_LOC  "tlvds_n" 27;
IO_PORT "tlvds_n" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;

IO_LOC  "mipi_out[0]" 28;
IO_PORT "mipi_out[0]" IO_TYPE=LVCMOS25;
IO_LOC  "mipi_out[1]" 27;
IO_PORT "mipi_out[1]" IO_TYPE=LVCMOS25;

IO_LOC  "mipi_in[0]" 43;
IO_PORT "mipi_in[0]" IO_TYPE=LVCMOS33;
IO_LOC  "mipi_in[1]" 44;
IO_PORT "mipi_in[1]" IO_TYPE=LVCMOS33;

IO_LOC  "elvds_p" 39;
IO_PORT "elvds_p" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;
IO_LOC  "elvds_n" 40;
IO_PORT "elvds_n" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;


//DVI
IO_LOC  "tmds_d_p[0]" 30;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;
IO_LOC  "tmds_d_n[0]" 29;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;
IO_LOC  "tmds_d_p[1]" 32;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;
IO_LOC  "tmds_d_n[1]" 31;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;
IO_LOC  "tmds_d_p[2]" 35;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;
IO_LOC  "tmds_d_n[2]" 34;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;
IO_LOC  "tmds_clk_p" 28;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;
IO_LOC  "tmds_clk_n" 27;
IO_PORT "tmds_clk_n" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVDS25;

IO_LOC  "div_led" 10;
IO_PORT "div_led" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;

