//Copyright (C)2014-2019 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.1.01Beta
//Part Number: GW1N-LV1QN48C6/I5
//Created Time: Sun Dec 15 11:40:09 2019

IO_LOC "clk" 98;
IO_LOC "rst" 27;
IO_LOC "led[0]" 29;
IO_LOC "led[1]" 30;
IO_LOC "led[2]" 32;
IO_LOC "led[3]" 34;
