//Copyright (C)2014-2019 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.1.01Beta
//Part Number: GW1NR-LV9LQ144PC6/I5
//Created Time: Thu Oct 31 10:40:33 2019

IO_LOC "clk" 15;
