name: Chipdb builder

on: push

jobs:
  gw1n1:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build gw1n-1 chipdb
      run: |
        docker pull pepijndevos/apicula:latest
        docker run -v $(pwd):/usr/src/apicula pepijndevos/apicula:latest make apycula/GW1N-1.pickle
    - name: Archive artifact
      uses: actions/upload-artifact@v2
      with:
          name: gw1n-1-chipdb
          path: apycula/GW1N-1.pickle
  gw1ns2:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build gw1ns-2 chipdb
      run: |
        docker pull pepijndevos/apicula:latest
        docker run -v $(pwd):/usr/src/apicula pepijndevos/apicula:latest make apycula/GW1NS-2.pickle
    - name: Archive artifact
      uses: actions/upload-artifact@v2
      with:
          name: gw1ns-2-chipdb
          path: apycula/GW1NS-2.pickle
  gw1n4:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build gw1n-4 chipdb
      run: |
        docker pull pepijndevos/apicula:latest
        docker run -v $(pwd):/usr/src/apicula pepijndevos/apicula:latest make apycula/GW1N-4.pickle
    - name: Archive artifact
      uses: actions/upload-artifact@v2
      with:
          name: gw1n-4-chipdb
          path: apycula/GW1N-4.pickle
  gw1n9:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build gw1n-9 chipdb
      run: |
        docker pull pepijndevos/apicula:latest
        docker run -v $(pwd):/usr/src/apicula pepijndevos/apicula:latest make apycula/GW1N-9.pickle
    - name: Archive artifact
      uses: actions/upload-artifact@v2
      with:
          name: gw1n-9-chipdb
          path: apycula/GW1N-9.pickle
  pypi:
    runs-on: ubuntu-latest
    needs: [gw1n9, gw1n1, gw1n4, gw1ns2]
    steps:
    - uses: actions/checkout@v2
    - name: Download gw1n-1 chipdb
      uses: actions/download-artifact@v2
      with:
        name: gw1n-1-chipdb
        path: apycula
    - name: Download gw1ns-2 chipdb
      uses: actions/download-artifact@v2
      with:
        name: gw1ns-2-chipdb
        path: apycula
    - name: Download gw1n-4 chipdb
      uses: actions/download-artifact@v2
      with:
        name: gw1n-4-chipdb
        path: apycula
    - name: Download gw1n-9 chipdb
      uses: actions/download-artifact@v2
      with:
        name: gw1n-9-chipdb
        path: apycula
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install and build
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
        python setup.py --version
        python setup.py sdist bdist_wheel
    - name: Archive artifact
      uses: actions/upload-artifact@v2
      with:
          name: python-dist
          path: dist
    - name: Publish to Pypi
      if: startsWith(github.ref, 'refs/tags')
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        twine upload dist/*