name: Chipdb builder

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:

env:
  APICULA_IMAGE: pepijndevos/apicula:1.9.10.03

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build all chipdbs
      run: |
        docker pull ${{ env.APICULA_IMAGE }}
        docker run -v $(pwd):/usr/src/apicula ${{ env.APICULA_IMAGE }} make -j$(nproc)
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Build Python package
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade setuptools wheel twine
        python setup.py --version
        python setup.py sdist bdist_wheel
        # Validate that the resulting wheel can be executed
        pip install "dist/apycula-$(python setup.py --version)-py3-none-any.whl"
        gowin_pack --help
    - name: Archive artifact
      uses: actions/upload-artifact@v4
      with:
        name: python-dist
        path: dist
    - name: Publish to Pypi
      if: startsWith(github.ref, 'refs/tags')
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        twine upload --verbose dist/*
    - name: Pack release data
      if: startsWith(github.ref, 'refs/heads/master')
      run: |
        tar cvfz linux-x64-gowin-data.tgz apycula/*.msgpack.xz
    - name: Upload to oss-cad-suite
      uses: ncipollo/release-action@v1
      if: hashFiles('linux-x64-gowin-data.tgz') != ''
      with:
        allowUpdates: True
        prerelease: True
        omitBody: True
        omitBodyDuringUpdate: True
        omitNameDuringUpdate: True
        tag: 0.0.0.dev
        artifacts: "linux-x64-gowin-data.tgz"
        token: ${{ secrets.GITHUB_TOKEN }}

  dev:
    needs: [build]
    uses: ./.github/workflows/toolchain.yml
    with:
      name: dev
      yosys: main
      nextpnr: main

  stable:
    needs: [build]
    uses: ./.github/workflows/toolchain.yml
    with:
      name: stable
      yosys: v0.62
      nextpnr: nextpnr-0.9
