name: Chipdb builder

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:

env:
  APICULA_IMAGE: pepijndevos/apicula:1.9.10.03

jobs:
  chipdb:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build all chipdbs
      run: |
        docker pull ${{ env.APICULA_IMAGE }}
        docker run -v $(pwd):/usr/src/apicula ${{ env.APICULA_IMAGE }} make -j$(nproc)
    - name: Archive chipdbs
      uses: actions/upload-artifact@v4
      with:
        name: chipdbs
        path: apycula/*.msgpack.gz
    - name: Archive stages
      uses: actions/upload-artifact@v4
      with:
        name: stages
        path: GW*_stage*.msgpack.gz

  pypi:
    runs-on: ubuntu-latest
    needs: [chipdb]
    steps:
    - uses: actions/checkout@v4
    - name: Download chipdbs
      uses: actions/download-artifact@v4
      with:
        name: chipdbs
        path: apycula
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install and build
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade setuptools wheel twine
        python setup.py --version
        python setup.py sdist bdist_wheel
        # Validate that the resulting wheel can be executed
        pip install dist/apycula-$(python setup.py --version)-py3-none-any.whl
        gowin_pack --help
    - name: Archive artifact
      uses: actions/upload-artifact@v4
      with:
        name: python-dist
        path: dist
    - name: Publish to Pypi
      if: startsWith(github.ref, 'refs/tags')
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        twine upload --verbose dist/*
    - name: Pack release data
      if: startsWith(github.ref, 'refs/heads/master')
      run: |
        tar cvfz linux-x64-gowin-data.tgz apycula/*.msgpack.gz
    - name: Upload to oss-cad-suite
      uses: ncipollo/release-action@v1
      if: hashFiles('linux-x64-gowin-data.tgz') != ''
      with:
        allowUpdates: True
        prerelease: True
        omitBody: True
        omitBodyDuringUpdate: True
        omitNameDuringUpdate: True
        tag: 0.0.0.dev
        artifacts: "linux-x64-gowin-data.tgz"
        token: ${{ secrets.GITHUB_TOKEN }}

  build-tools:
    runs-on: ubuntu-latest
    needs: [pypi]
    strategy:
      matrix:
        include:
          - name: dev
            yosys: main
            nextpnr: master
          - name: stable
            yosys: v0.62
            nextpnr: nextpnr-0.9
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install build deps
      run: |
        sudo apt-get update
        sudo apt-get install build-essential clang bison flex \
          libreadline-dev gawk tcl-dev libffi-dev git libfl-dev \
          graphviz xdot pkg-config python3 libboost-system-dev \
          libboost-python-dev libboost-filesystem-dev zlib1g-dev \
          libboost-thread-dev libboost-program-options-dev libboost-iostreams-dev libboost-dev \
          libeigen3-dev
    - name: Download python package
      uses: actions/download-artifact@v4
      with:
        name: python-dist
        path: dist
    - name: Install apycula
      run: pip install dist/*.whl
    - name: Build yosys
      run: |
        git clone https://github.com/YosysHQ/yosys.git
        cd yosys
        git checkout ${{ matrix.yosys }}
        git submodule update --init --recursive
        make config-clang
        make -j$(nproc)
        make install DESTDIR=${{ github.workspace }}/staging
    - name: Build nextpnr
      run: |
        git clone https://github.com/YosysHQ/nextpnr.git
        cd nextpnr
        git checkout ${{ matrix.nextpnr }}
        git submodule update --init --recursive
        cmake -B build -DBUILD_PYTHON=OFF -DARCH="himbaechel" \
          -DHIMBAECHEL_UARCH=gowin -DHIMBAECHEL_GOWIN_DEVICES="all"
        make -C build -j$(nproc)
        make -C build install DESTDIR=${{ github.workspace }}/staging
    - name: Package tools
      run: tar czf tools.tar.gz -C staging/usr/local .
    - name: Upload tools
      uses: actions/upload-artifact@v4
      with:
        name: tools-${{ matrix.name }}
        path: tools.tar.gz

  example:
    runs-on: ubuntu-latest
    needs: [build-tools]
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - {name: dev}
          - {name: stable}
        board:
          - {target: tangnano20k, dir: examples}
          - {target: primer20k, dir: examples}
          - {target: tangnano, dir: examples}
          - {target: tangnano1k, dir: examples}
          - {target: tangnano4k, dir: examples}
          - {target: tangnano9k, dir: examples}
          - {target: szfpga, dir: examples}
          - {target: tec0117, dir: examples}
          - {target: runber, dir: examples}
          - {target: primer25k, dir: examples/gw5a}
          - {target: tangmega138k, dir: examples/gw5a}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Download tools
      uses: actions/download-artifact@v4
      with:
        name: tools-${{ matrix.toolchain.name }}
    - name: Install runtime deps
      run: |
        sudo apt-get update
        sudo apt-get install -y libboost-filesystem1.83.0 libboost-program-options1.83.0 \
          libboost-iostreams1.83.0 libboost-thread1.83.0 libboost-system1.83.0
    - name: Install tools
      run: sudo tar xzf tools.tar.gz -C /usr/local && sudo ldconfig
    - name: Download python package
      uses: actions/download-artifact@v4
      with:
        name: python-dist
        path: dist
    - name: Install apycula
      run: pip install dist/*.whl
    - name: Build examples
      run: make -C ${{ matrix.board.dir }} -j$(nproc) ${{ matrix.board.target }}
    - name: Archive artifact
      uses: actions/upload-artifact@v4
      with:
        name: examples-${{ matrix.toolchain.name }}-${{ matrix.board.target }}
        path: ${{ matrix.board.dir }}/*.fs
    - name: Sanity check
      if: matrix.board.dir == 'examples'
      run: |
        make -C examples -j$(nproc) ${{ matrix.board.target }}-unpacked
        cd examples
        for f in *-unpacked.v; do
          yosys -p "read_verilog $f; read_verilog -lib +/gowin/cells_sim.v; clean -purge; select -assert-any t:DFF*; select -assert-any t:*BUF;";
        done
